@model List<Personal_Blog.Models.ArticleViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<h2>Personal Blog</h2>

@foreach (var article in Model)
{
    <div class="card my-3">
        <div class="card-body">
            <h4 class="card-title">@article.heading</h4>
            <h5 class="card-subtitle mb-2 text-muted">@article.date.ToString("yyyy-MM-dd")</h5>
            <a asp-action="Read" asp-route-id="@article.ID" class="btn btn-primary">Read</a>
        </div>
    </div>
}
