@{
    ViewData["Title"] = "Welcome Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Kgomo Tales Blog</h1>

    <form asp-action="Login" asp-controller="Home" method="get">
        <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <form asp-action="HomePage" asp-controller="Home" method="get">
        <button type="submit" class="btn btn-primary">Go to Blog</button>
    </form>
</div>
