@{
    ViewData["Title"] = "Welcome Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Kgomo Tales Blog</h1>

    <form action="@Url.Action("Login", "Home")" method="post">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
    </form>
    <form action="@Url.Action("HomePage", "Home")" method="post">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Go to Blog</button>
    </form>
</div>
